/* Dashboard styling*/
.dashboard {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: monospace;
    font-weight: 200;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .dashboard-header h2 {
    font-size: 32px;
    color: black;
    margin-bottom: 10px;
  }
  
  .dashboard-header p {
    font-size: 18px;
    color:black;
  }
  
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tile {
    background-color: rgb(238, 151, 136);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    border: 10px;
  }
  
  .tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .tile-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .tile-description {
    font-size: 14px;
    color: black;
  }
  
  .tile:active {
    transform: translateY(2px);
  }
    